/* Octopumo */

body{
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
}

#app{
    margin-top: 0.5vw;
    margin-left: 4.5vw;
    text-align: left;
    
    a{
        text-decoration: none;
        font-size: 1.36vw;
        margin-right: 0.8vw;
    }
}
